@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Crimson+Text:400');

:root {
  --black: black;
  --lt-grey: #eeeeee;
  --med-grey: #999;
  --dk-grey: #444;
  --hover: #55b8fe;
  --warning: red;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica", "Roboto", "Droid Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  /*position: relative;*/
}

#card {
  font-family: 'Crimson Text', 'Garamond', 'Georgia', serif;
  margin: 20px 30px 0 30px;
  padding: 15px 25px;
  font-weight: 400;
  text-align: left;
  /*min-width: 300px;*/
  /*max-width: 500px;*/
  display: inline-block;
  /*float: left;*/
  cursor: pointer;
  border: 1px solid var(--lt-grey);
  border-radius: 8px;
  box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.1);
}

#card.tilt-left {
  transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -webkit-transform: rotate(1deg); /* Chrome, Safari */
}

#card.tilt-right {
  transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg); /* Chrome, Safari */
}

#card:hover {
  /*outline: 2px solid var(--hover);*/
  border: 3px solid var(--hover);
  box-shadow: 8px 8px 15px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 8px 8px 15px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 0.25);
  transition: .2s;
}

#categories ol {
  margin: 5px 0 0 0;
  padding: 0;
  list-style-position: inside;
  /*border: 1px dotted orange;*/
}

#categories li {
  margin: 0;
  padding: 3px 0;
  font-size: 18pt;
  /*text-transform: uppercase;*/
  border-bottom: 1px solid var(--lt-grey);
  /*border: 1px dotted purple;*/
}

#categories li.last {
  border: none;
}

#credits {
  font-size: 9.5pt;
  font-weight: 400;
  color: var(--med-grey);
  position: absolute;
  right: 5px;
  bottom: 5px;
  /*float: right;*/
  /*margin: 2px 0 0 0;*/
}

#credits a {
  font-weight: 500;
  color: var(--med-grey);
  text-decoration: none;
}

#footer {
  font-size: 9.5pt;
  font-weight: 400;
  color: var(--med-grey);
  position: absolute;
  left: 5px;
  bottom: 5px;
}

.hidden {
  display: none;
}

#letter {
  font-family: "Garamond", "Georgia", serif;
  text-align: center;
  /*font-size: 400pt;*/
  /*font-weight: 100;*/
  font-size: 50pt;
  /*font-weight: 700;*/
  margin: 0 0 0 0;
  padding: 0;
  line-height: 40pt;
  /*line-height: 300pt;*/
  cursor: pointer;
  /*border: 1px dotted red;*/
}

#letter:before {
  content: url("images/left-ornament.svg");
  margin-right: 5px;
  opacity: 0.07;
}
#letter:after {
  content: url("images/right-ornament.svg");
  margin-left: 5px;
  opacity: 0.07;
}

/*#letter:hover {
  color: var(--hover);
}*/

#main {
}

#notebar {
  position: absolute;
  left: 5px;
  bottom: 20px;
}

.notification {
  font-size: 9.5pt;
  line-height: 11pt;
  margin: 12px;
  padding: 12px;
  max-width: 300px;
  border-radius: 6px;
  background-color: var(--dk-grey);
  color: var(--lt-grey);
  z-index: 30;
  float: left;
}

.notification h3 {
  font-size: 9pt;
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: var(--med-grey);
  text-transform: uppercase;
}

#timer {
  text-align: center;
  font-size: 40pt;
  font-weight: 300;
  margin: 0;
  padding: 0;
  cursor: pointer;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  /*border: 1px solid red;*/
}

#timer:hover {
  color: var(--hover);
}

.warning {
  color: var(--warning);
}
