@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Lusitana:400');

:root {
  --black: black;
  --lt-grey: #eee;
  --med-grey: #aaa;
  --dk-grey: #444;
  --hover: #55b8fe;
  --warning: red;
  --numbers: #ccc;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  min-width: 500px;
  min-height: 700px;
  user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  /*position: relative;*/
}

#card {
  font-family: 'Lusitana', 'Garamond', 'Georgia', serif;
  margin: 20px 30px 0 30px;
  padding: 15px 25px;
  min-width: 300px;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border: 1px solid var(--lt-grey);
  border-radius: 8px;
  box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.1);
}

#card.tilt-left {
  transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -webkit-transform: rotate(1deg); /* Chrome, Safari */
}

#card.tilt-right {
  transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg); /* Chrome, Safari */
}

#card:hover {
  border: 3px solid var(--hover);
  box-shadow: 8px 8px 15px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 8px 8px 15px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 0.25);
  transition: .2s;
}

#categories ol {
  counter-reset: cat;
  text-align: left;
  margin: 5px 0 0 0;
  padding: 0;
  list-style: none;
  position: relative;
  /*border: 1px dotted orange;*/
}

#categories li {
  counter-increment: cat;
  margin: 0;
  padding: 5px 0.5em 5px 0em;
  font-size: 17pt;
  border-bottom: 1px solid var(--lt-grey);
  z-index: 6;
  /*border: 1px dotted purple;*/
}

#categories li:before {
  font-size: 90%;
  content: counter(cat);
  display: inline-block;
  padding-left: 0.2em;
  padding-right: 0.5em;
  text-align: center;
  vertical-align: baseline;
  color: var(--numbers);
  width: 1em;
  z-index: 5;
}

#categories li.last {
  border: none;
}

#credits {
  font-size: 9.5pt;
  font-weight: 400;
  color: var(--med-grey);
  position: absolute;
  right: 5px;
  bottom: 5px;
  /*margin: 2px 0 0 0;*/
}

#credits a {
  font-weight: 500;
  color: var(--med-grey);
  text-decoration: none;
}

#footer {
  margin: 5px;
  font-size: 9.5pt;
  font-weight: 400;
  color: var(--med-grey);
  position: absolute;
  left: 0px;
  bottom: 0px;
}

#footer a {
  margin: 0;
  padding: 3px 5px;
  border: 1px solid white;
  border-radius: 4px;
}

#footer a:hover {
  border: 1px solid var(--dk-grey);
  color: var(--dk-grey);
}

#footer select {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica', 'Arial', sans-serif;
  font-size: 9.5pt;
  margin: 0 5px 0 0;
  padding: 0;
  border: 1px solid white;
  color: var(--med-grey);
  background-color: white;
}

#footer select:hover {
  border: 1px solid var(--dk-grey);
  color: var(--dk-grey);
}

#footer select:focus {
  outline: none;
}

.hidden {
  display: none;
}

#letter {
  font-family: 'EB Garamond', 'Lusitana', 'Garamond', 'Georgia', serif;
  text-align: center;
  font-size: 50pt;
  margin: 0 0 0 0;
  padding: 0;
  line-height: 40pt;
  cursor: pointer;
  /*border: 1px dotted red;*/
}

#letter:before {
  content: url("images/left-ornament.svg");
  margin-right: 5px;
  opacity: 0.07;
}
#letter:after {
  content: url("images/right-ornament.svg");
  margin-left: 5px;
  opacity: 0.07;
}

#main {
}

#notebar {
  position: absolute;
  left: 5px;
  bottom: 20px;
}

.notification {
  text-align: left;
  font-size: 9.5pt;
  line-height: 11pt;
  margin: 12px;
  padding: 12px;
  max-width: 300px;
  border-radius: 6px;
  background-color: var(--dk-grey);
  color: var(--lt-grey);
  z-index: 30;
  float: left;
}

.notification h3 {
  font-size: 9pt;
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: var(--med-grey);
  text-transform: uppercase;
}

#timer {
  text-align: center;
  font-size: 40pt;
  font-weight: 300;
  margin: 0;
  padding: 0;
  cursor: pointer;
  position: absolute;
  width: 120px;
  left: 50%;
  margin-left: -60px;
  bottom: 0;
  /*border: 1px solid red;*/
}

#timer:hover {
  color: var(--hover);
}

.warning {
  color: var(--warning);
}

@media (max-width: 600px) {
  #credits {
    border-top: 1px solid var(--lt-grey);
    padding-top: 10px;
    position: relative;
  }
  #footer {
    position: relative;
    margin: 10px 0;
  }
  #timer {
    position: relative;
    /*width: auto;*/
    margin: 10px auto;
    left: 0;
  }
}
